@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.landingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 320px;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 5px;
    margin-top: 40px;
}

/*style for header title*/
.neonText {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    background-image: url(../images/bricks.jpg);
    background-size: cover; 
    background-position: 50%;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .neontextFont {
    font-family: fantasy;
    font-size: 45px;
  }

  /* Flickering animation */
  @keyframes flicker {
      
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(0, 204, 255),
        0 0 80px rgb(0, 204, 255),
        0 0 90px rgb(0, 204, 255),
        0 0 100px rgb(0, 204, 255),
        0 0 150px rgb(0, 204, 255);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

/*style to push content off of the bottom of the page*/   
main {
    margin-bottom: 50px;
}

/*style for the body background color*/
body {
    background-color: black;
    font-family: fantasy;
}

/*style to order the cocktail directory*/
.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: fantasy;
}

/*style for cocktail directory input field, button, and button hover*/
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#cocktailName {
    height: 30px;
    width: 300px;
    margin: 0px 5px 0px 5px;
    border-radius: 50px;
    padding: 2px;
    text-align: center;
    font-size: 20px;
    font-family: fantasy;
}

#cocktailName::placeholder {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#cocktailButton {
    font-size: 15px;
    border-radius: 50%;
    background-color: rgb(0, 153, 255);
    padding: 10px;
    margin: 5px;
    color: white;
    cursor: pointer;
    border: none;
    transform: rotateY(180deg);
}

#cocktailButton:hover {
    background-color: rgb(0, 204, 255);;
}

#formInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 380px;
    height: 50px;
    font-size: 10px;
    background-color: black;
    border: 3px solid rgb(0, 153, 255);
    border-radius: 50px;
}

#form {
    display: flex;
    gap: 20px;
}

#form button {
    text-transform: uppercase;
    border-radius: 5px;
    background-color: hsl(0, 0%, 0%);
    border: 3px solid rgb(0, 153, 255);
    height: 50px;
    width: 130px;
    padding: 3px;
    color: white;
    cursor: pointer;
    font-family: fantasy;
}

#form button:hover {
    background-color: rgb(0, 204, 255);
}

.container {
    position: relative;
    top: 30px;
}

.back {
    text-transform: uppercase;
    border-radius: 5px;
    background-color: hsl(0, 0%, 0%);
    border: 3px solid rgb(0, 153, 255);
    height: 50px;
    width: 130px;
    padding: 3px;
    color: white;
    cursor: pointer;
    font-family: fantasy;
}

.back:hover {
    background-color: rgb(0, 204, 255);
}



/*style for h1 text color*/
h1 {
    color: white;
}

/*style for search titles*/
h4 {
    text-align: center;
    color: white;
    text-decoration: underline;
}

/*for pop up alerts */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
}

#modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 150px;
}

#close {
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    float: right;
    font-size: 18px;
    font-weight: bold;
    height: 22px;
}

#close:hover, #close:focus {
  color: rgba(253, 0, 0, .8);
  border: 2px solid rgba(253, 0, 0, .8);
  text-decoration: none;
  cursor: pointer;
}

#promptTxt li {
    font-family: fantasy;
    font-size: 20px;
}

#promptTxt li:hover {
    color: white;
    background-color: rgb(0, 153, 255);
}

/*style for cocktail directory information*/
#ingredientCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

img {
    width: 20%;
    border-radius: 5px;
}

p {
    font-size: 20px;
    background-color: rgb(39, 39, 46);
    border-radius: 5px;
    padding: 10px;
    width: 60%;
}

li {
    list-style: none;
    font-size: 30px;
}

.video {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: hsl(0, 0%, 0%);
    border: 3px solid rgb(0, 153, 255);
    width: 130px;
    padding-top: 5px;
    color: white;
    cursor: pointer;
    font-size: 13.3333px;
    font-family: fantasy;
}

.video:hover {
    background-color: rgb(0, 204, 255);
}

#favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    margin-bottom: 100px;
}

.favoriteCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 40px;
    padding: 0px 10px 20px 10px;
}

.favoriteCard button {
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: fantasy;
    position: relative;
    left: 130px;
    top: 15px;
    height: 28px;
    background-color: black;
}

.favoriteCard button:hover {
        color: rgba(253, 0, 0, .8);
        border: 2px solid rgba(253, 0, 0, .8);
        cursor: pointer;
}

.favoriteCard h2{
    text-align: center;
    font-size: 22px;
}

.favoriteCard img {
    height: 100px;
    width: 100px;
}

.favoriteCard p {
    font-size: 20px;
    background-color: rgb(39, 39, 46);
    border-radius: 5px;
    width: 70%;
    font-size: 17px;
}

.favoriteCard li {
    font-size: 20px;
}

@media screen and (max-width: 600px) {
	.neontextFont {
        font-size: 40px;
	}

    h1 {
        font-size: 12px;
    }

    .search {
        display: flex;
        flex-direction: column;
    }

    #cocktailButton {
        padding: 5px;
    }

    #cocktailRandom {
        padding: 5px;
    }

    img {
        height: 150px;
        width: 150px;
    }

    p {
        width: 50%;
    }

    .formInput {
        gap: 5px
    }

    #form button {
        width: 120px;
    }

    ol {
        padding: 0px;
    }
}