@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*style for header title*/
.neonText {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    background-image: url(../images/bricks.jpg);
    background-size: cover; 
    background-position: 50%;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .neontextFont {
    font-family: "Pacifico",sans-serif;
    font-size: 50px;
  }

  /* Flickering animation */
  @keyframes flicker {
      
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(0, 204, 255),
        0 0 80px rgb(0, 204, 255),
        0 0 90px rgb(0, 204, 255),
        0 0 100px rgb(0, 204, 255),
        0 0 150px rgb(0, 204, 255);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

/*style to push content off of the bottom of the page*/   
main {
    margin-bottom: 50px;
}

/*style for the body background color*/
body {
    background-color: black;
    font-family: "Playfair Display", serif;
}

/*style to order the cocktail directory*/
.order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*style for cocktail directory input field, button, and button hover*/
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#cocktailName {
    height: 30px;
    width: 300px;
    margin: 0px 5px 0px 5px;
    border-radius: 50px;
    padding: 2px;
    text-align: center;
    font-size: 20px;
}

#cocktailButton {
    font-size: 15px;
    border-radius: 50%;
    background-color: rgb(54, 104, 255);
    padding: 10px;
    margin: 5px;
    color: white;
    cursor: pointer;
    border: none;
    transform: rotateY(180deg);
    background-color: rgb(109, 145, 255);
}

#cocktailButton:hover {
    background-color: rgb(109, 145, 255);
}

#formInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-shadow: 0 1px 0 #000;
  
    --border-angle: 0turn; 
    --main-bg: conic-gradient(
        from var(--border-angle),
        #213,
        #112 5%,
        #112 60%,
        #213 95%
      );
    
    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
    
    background: 
      var(--main-bg) padding-box,
      var(--gradient-border) border-box, 
      var(--main-bg) border-box;
    
    background-position: center center;
  
    animation: bg-spin 3s linear infinite;
  
    &:hover {
      animation-play-state: paused;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  #form button {
    --border-width: 3px;
  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    background-color: rgb(54, 104, 255);
    border-radius: var(--border-width);
  
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2 * var(--border-width));
      animation: moveGradient 4s alternate infinite;
    }
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }

#form {
    display: flex;
    gap: 20px;
}

#form button {
    border-radius: 5px;
    background-color: rgb(54, 104, 255);
    padding: 3px;
    color: white;
    cursor: pointer;
    border: none;
}

#form button:hover {
    background-color: rgb(109, 145, 255);
}

a {
    border-radius: 5px;
    background-color: rgb(54, 104, 255);
    padding: 3px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color: rgb(109, 145, 255);
}

/*style for h1 text color*/
h1 {
    color: white;
}

/*style for search titles*/
h4 {
    text-align: center;
    color: white;
    text-decoration: underline;
}

/*for pop up alerts */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
}

#modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 150px;
}

#close {
    color: #aaaaaa;
    border: 2px solid #aaaaaa;
    padding-left: 2px;
    padding-right: 2px;
    float: right;
    font-size: 18px;
    font-weight: bold;
}

#close:hover, #close:focus {
  color: rgba(253, 0, 0, .8);
  border: 2px solid rgba(253, 0, 0, .8);
  text-decoration: none;
  cursor: pointer;
}

#promptTxt li {
    font-size: 20px;
}

#promptTxt li:hover {
    color: white;
    background-color: rgb(54, 104, 255);
}

/*style for cocktail directory information*/
#ingredientCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

img {
    width: 20%;
    border-radius: 5px;
}

p {
    font-size: 20px;
    background-color: rgb(39, 39, 46);
    border-radius: 5px;
    padding: 10px;
    width: 60%;
}

li {
    list-style: none;
    font-size: 30px;
}

#favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    margin-bottom: 100px;
}

.favoriteCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 50px;
    padding: 0px 10px 20px 10px;
}

.favoriteCard img {
    height: 100px;
    width: 100px;
}

.favoriteCard p {
    font-size: 20px;
    background-color: rgb(39, 39, 46);
    border-radius: 5px;
    width: 70%;
    font-size: 17px;
}

.favoriteCard li {
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    .neonText {
        height: 300px;
    }

	.neontextFont {
        font-size: 50px;
	}

    h1 {
        font-size: 10px;
    }

    .search {
        display: flex;
        flex-direction: column;
    }

    #cocktailName {
        margin: 0px 0px 10px 0px;
    }

    #cocktailButton {
        padding: 5px;
    }

    #cocktailRandom {
        padding: 5px;
    }

    img {
        height: 150px;
        width: 150px;
    }

    p {
        width: 50%;
    }

}